@import '../../../../styles/variables.scss';

@mixin img-cover {
	float: left;
	object-fit: cover;
}

:host {
	.default-avatar {
		background-image: url('../../../../assets/images/paw.jpg');
		background-size: cover;
	}

	img {
		@include img-cover;
		@apply w-[400px] h-[400px];
	}

	@media screen and (min-width: $screen) {
		img {
			@apply w-[550px] h-[550px];
		}
	}
}