<div class="w-full">
	
	<app-filter-item-wrapper 
		*ngIf="breeds$ | async as breeds; else breedSkeleton"
		[quantity]="breeds.length"
		title="Breed"
	>
		<app-breed
			[initValue]="initBreed$ | async "
			[disabled]="isRandom$ | async"
			[options]="breeds"
			(onSelect)="setBreed($event)"
		/>

		<app-random-breeds 
			(onSelect)="setIsRandomBreeds($event)"
			[initValue]="(isRandom$ | async) ?? true"
		/>

	</app-filter-item-wrapper>

	<app-filter-item-wrapper
		*ngIf="!filterLoading; else showBySkeleton"
		title="Show by"
	>
		<app-amount-results 
			[initValue]="(initAmount$ | async) ?? 10"
			[options]="amountResultsOptions"
			(onSelect)="setAmountResults($event)"
		/>
	</app-filter-item-wrapper>
	
</div>

<ng-template #breedSkeleton>
	<app-skeleton [count]="3" [height]="['50px','50px', '50px']"/>
</ng-template>

<ng-template #showBySkeleton>
	<app-skeleton [count]="2" [height]="['55px','136px']"/>
</ng-template>