<div class="w-full">
	
	<app-filter-item-wrapper 
		*ngIf="breeds$ | async as breeds"
		[quantity]="breeds.length"
		title="Breed"
	>
		<app-breed
			[initValue]="initBreed || breeds[0].value"
			[disabled]="isRandom"
			[options]="breeds"
			(onSelect)="breedEmmition($event)"
		/>

		<app-random-breeds 
			(onSelect)="randomBreedsEmmition($event)"
			[initValue]="isRandom"
		/>

	</app-filter-item-wrapper>

	<app-filter-item-wrapper 
		title="Show by"
	>
		<app-amount-results 
			[initValue]="initAmount"
			[options]="amountResultsOptions"
			(onSelect)="amountEmmition($event)"
		/>
	</app-filter-item-wrapper>
</div>