<mat-accordion>
	
	<mat-expansion-panel 
		[expanded]="isOpen"
		(opened)="isOpen = true"
		(closed)="isOpen = false"
	>
		<mat-expansion-panel-header class="my-2">

			<mat-panel-title class="text-gray-light"> {{title}} </mat-panel-title>
			<mat-panel-description *ngIf="!!quantity" class="text-gray-light font-normal"> ({{quantity}}) </mat-panel-description>
		
		</mat-expansion-panel-header>

		<div class="gap-2 flex flex-col {{styleClass}}">
			<ng-content></ng-content>
		</div>
	</mat-expansion-panel>

</mat-accordion>